@use '../../../scss/global.scss' as utils;

.background{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    .left{
        position: relative;
        background-color: #445D59;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('/arnyas-logo.jpeg');
            background-size: contain;
            background-position: top left;
            background-repeat: no-repeat;
            width: clamp(utils.rem(40), 8vw, utils.rem(100));
            height: clamp(utils.rem(50), 8vw, utils.rem(120));
        }
        .welcome-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: utils.rem(40);
            .title{
                font-size: utils.rem(50);
                font-weight: 400;
                text-align: center;
                color: #F8F7F2;
            }
            .text{
                font-size: utils.rem(20);
                color: #F8F7F2;
            }
            .button{
                background-color: #445D59;
                border: utils.rem(1) solid #F8F7F2;
                color: #F8F7F2;
                padding: clamp(utils.rem(2), 1vW ,utils.rem(8)) clamp(utils.rem(4), 1vW ,utils.rem(15));
                font-size: utils.rem(12);
                margin-top: clamp(utils.rem(5), 5vW, utils.rem(300));
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .right{
        background-image: url('/arnyas_apartman_nagy-24.jpg');
        background-size: cover;
        background-position: center;
    }
    .footer-left{
        background-color: #F8F7F2;
        display: flex;
        justify-content: start;
        align-items: center;
        .footer-title{
            font-size: utils.rem(40);
            color: #445D59;
            margin-left: clamp(utils.rem(20), 10vW, utils.rem(150));
        }
    }
    .footer-right{
        background-color: #F8F7F2;
        display: flex;
        justify-content:center;
        align-items: center;
        .footer-text{
            font-size: utils.rem(20);
            color: #445D59;
        }
    }
}