<div class="background">
    <div class="container">
        <div class="green-container">
            <div class="logo-container"><img class="logo" src="arnyas logo.jpeg" alt=""></div>
            <div class="wellcome-container">
                <div><H1 class="wellcome-text">Welcome</H1></div>
                <div><p class="description">Make yourself at home. Discover a cozy apartment</p></div>
                <div><button (click)="bookNow()" class="button">Book now</button></div>
            </div>
        </div>
        <div class="picture-container">
            <img class="picture" src="arnyas_apartman_nagy-24.jpg" alt="">
        </div>
    </div>
    <div class="footer-container">
        <div class="left-text-container">
            <p class="left-text">
                Inspired by the
                <br>tranquility of
                <br>Lake Balaton
            </p>
        </div>
        <div class="right-text-container">
            <p class="right-text">
                Surrounded by nature in the heart of Káptalanfüred,
                <br>Árnyas Apartment is a place to slow down and unwind.
                <br>Thoughtfully designed for comfort and relaxation, 
                <br>it invites you to enjoy the beauty, warmth, and peaceful rhythm of the Balaton region.
            </p>
        </div>
    </div>
</div>
