$baseUrl: '/';

$min-font-size: 12;
$max-font-size: 16;
$breakpoints: 576 768 992 1200;

$inter-font: "Inter", sans-serif;
$default-font: "Roboto", "Helvetica Neue", sans-serif;

$default-light: #fff;
$default-dark: #000;