<div class="background">
    <div class="calendar-container">
        <app-calendar-component class="calendar"></app-calendar-component>
        <button class="calendar-button">Send</button>
    </div>
    <div class="coupon-container">
        <div class="coupon-container-title">Create Coupon</div>
        <div class="price-label">HUF</div>
        <input class="price" type="text" placeholder="Price">
        <input class="coupon-code" type="text" placeholder="Coupon Code">
        <button class="coupon-button">Send</button>
    </div>
    <div class="change-price-container">
        <div class="change-price-label">HUF/Night</div>
        <div class="change-price-container-title">Change Price</div>
        <input class="change-price" type="text" placeholder="Price">
        <button class="change-price-button">Send</button>
    </div>
</div>
