<div class="background">
    <div class="header">
        <div class="logo"></div>
        <div class="title-container">
            <button class="label">Our Story</button>
            <button class="label">Booking</button>
            <button class="label">AI Chat</button>
            <button class="label">Edit Data</button>
        </div>
    </div>
    <div class="body">
        <div class="title">Oops! Something Went Wrong</div>
        <div class="subtitle">Payment Failed.</div>
        <div class="text">
            <br>We were unable to complete your payment,
            <br>so your accommodation booking could not be confirmed
            <br>at this time.
        </div>
    </div>
</div>
