<div class="background">
    <div class="next-prev-button-container">
        <button type="button" class="arrow-button" (click)="prevMonth()">◀ </button>
        <div class="year-month-container">
            <p>{{currantDate.getFullYear()}}</p>
            <p>{{currantDate | date:'MMM':'':'en-US'}}</p>
        </div>
        <button type="button" class="arrow-button" (click)="nextMonth()">▶</button>
    </div>
    <div class="date-container">
        <div class="week" *ngFor="let week of calendar">
            <button
            type="button"
            (click)="selectDay(day!)"
            class="day"
            [class.red] ="isRed(day)"
            [class.green] = "isGreen(day)"
            *ngFor="let day of week">
            {{day?.getDate()}}</button>
        </div>
    </div>
</div>