<div class="background">
    <div class="next-prev-button-container">
        <button class="arrow-button" (click)="getPreviousMonth()">◀ </button>
        <div class="year-month-container">
            <p>{{calendar[1][2]?.getFullYear()}}</p>
            <p>{{ calendar[1][2] | date:'MMM':'':'en-US' }}</p>
        </div>
        <button class="arrow-button" (click)="getNextMonth()">▶</button>
    </div>
    <div>
        <div class="week" *ngFor="let week of calendar">
            <button 
            (click)="toggleGreenDates(day!)"
            class="day"
            [class.red] ="isRed(day)"
            [class.green] = "isGreen(day)"
            *ngFor="let day of week">
            {{day?.getDate()}}</button>
        </div>
    </div>
</div>