@use '../../../scss/global.scss' as utils;

:host{
    display: block;
    width: 100%;
    height: 100%;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #F8F7F2;
    .next-prev-button-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: utils.rem(290);

        .arrow-button{
            background-color: #F8F7F2;
            border: none;
            font-size: utils.rem(26);
            font-family: 900;
        }

        .year-month-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: utils.rem(30);
            font-weight: 900;
        }
    }
    .date-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: clamp(utils.rem(10), 2vW, utils.rem(40));
        .week{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: clamp(utils.rem(10), 2vW, utils.rem(40));
            .day{
                font-size: utils.rem(24);
                height: clamp(utils.rem(26), 2vW, utils.rem(40));
                font-weight: bold;
                flex: 1;
                background-color: #E8DDD2;
                display: flex;
                border: none;
                justify-content: center;
                align-items: center;
                border-radius: utils.rem(6);
            }
            .red{
                color: #8B2635;
            }
            .green{
                color: #9FB782;
            }
        }
    }

}
