<div class="background">
    <div class="left-side">
        <div class="logo"></div>
        <div class="create-account">Create Account</div>
    </div>
    <div class="right-side">
        <div class="content-container">
            <input class="username input" type="text" placeholder="User Name">
            <input class="password input" type="text" placeholder="Password">
            <input class="email input" type="text" placeholder="Email Addres">
            <input class="phone input" type="text" placeholder="Phone Number">
            <input class="first-name input" type="text" placeholder="First Name">
            <input class="last-name input" type="text" placeholder="Last Name">
            <button class="button">Create Account</button>
        </div>
    </div>
</div>
