<div class="background">
    <div class="left-side">
        <div class="logo"></div>
        <div class="create-account">Create Account</div>
    </div>
    <div class="right-side">
            <form class="content-container" [formGroup]="createGroup" (ngSubmit)="create()">
                <input formControlName="userName" class="username input" type="text" placeholder="User Name">
                <input formControlName="password" class="password input" type="password" placeholder="Password">
                <input formControlName="email" class="email input" type="text" placeholder="Email Address">
                <input formControlName="phone" class="phone input" type="text" placeholder="Phone Number">
                <input formControlName="firstname" class="first-name input" type="text" placeholder="First Name">
                <input formControlName="lastName" class="last-name input" type="text" placeholder="Last Name">
                <button type="submit" class="button">Create Account</button>
                <div class="error" *ngIf="dataFaild()">Invalid login details. Please check your information and try again.</div>
                <div class="exist" *ngIf="existFaild()">An account with this email or username already exists.</div>
            </form>
    </div>
</div>
